ul.showAllBlogs_content_pagination {
    /*display: inline-block;
    padding: 0;
    margin: 0;*/
    display: table;
    margin: 40px auto;
    text-align: center;
}

ul.showAllBlogs_content_pagination li {
  /*display: inline;*/
  display: table-cell;
  /*padding: 1%;
  font-size: 18px;
  font-weight: bold;
  margin: 0 1px;*/

}

ul.showAllBlogs_content_pagination li a {
    color: #000; 
    /*float: left;*/
    padding: 5px 8px;
    text-decoration: none;
    background-color: #ddd;
    margin-left: 1px;
}

ul.showAllBlogs_content_pagination li a:hover {
    background-color: #ffcc00;
    color: #fff;
}




