/*文章标题*/
.showAllBlogs_content_body_title {
    font-size: 20px;
}
/*one of the blog style*/
.showAllBlogs_content_body_allInfo{
    height: 200px;
}
/*hr style between blog*/
.showAllBlogs_content_body_hr{
    height: 20px;
    background-color: #fffffff5;
}

