/*文章标题*/
.showAllBlogs_content_body_title {
    font-size: 20px;
}
/*one of the blog style*/
.showAllBlogs_content_body_allInfo{
    text-align: center;
    padding: 12px 24px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
/*hr style between blog*/
.showAllBlogs_content_body_hr{
    height: 20px;
    background-color: #fffffff5;
}

