.showBlog_content_body {
	width: 60%;
	margin-left: 20%;
	border: 10%;
}

.showBlog_content_body_allInfo {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 300px;
}
/*文章标题*/
.showBlog_content_body_title {
	font-size: 50px;
	text-align:center;
}
/*标题下 更新时间和作者等信息整体布局*/
.showBlog_content_body_summary {
	font-size: 15px;
	text-align: center;
}


/*作者信息*/
.showAllBlogs_content_body_authorInfo {
	/*float: left;*/
	/*float 和 display在并行时的差别*/
	/*为什么上一div设置float影响的是下一个div*/
	/*div之间用inline不能实现并行?*/
	/*display: inline;*/
	/*margin-left: 100px;*/
	display: inline-block;
}
.showAllBlogs_content_body_timeInfo {
	display: inline-block;
	margin-left: 100px;
}

.showAllBlogs_content_body_category {
	display: inline-block;
	margin-left: 100px;
}
.showBlog_content_body_operate{
	display: inline-block;
	margin-left: 100px;
}
/*博客内容布局*/
.showBlog_content_body_content {
}


/*评论框布局*/
.showBlog_content_body_comment {
	margin-top: 100px;
}

/*评论标题*/
.comment_title {
	margin-left: 10px;
	color: blue;
	font-size: 20px;
}
/*评论框位置*/
.comment_contentAndSumit {
	margin-left: 50px;
	margin-top: 50px;
}
/*评论区内容*/ 
.comment_content {
	height: 70px;
	width: 90%;

}
/*提交评论按钮*/
.conmment_submit {
	float: right;
	margin-right: 10%;
	width: 10%;
	height: 40px;
	background-color: #1E90FF;
}

/*博客内容 图片固定格式大小*/
.showBlog_content_body_content img {
	width: 913.438px;
}