.public_home_body{
	height: 100%;
	width: 100%;
}

/*顶部布局*/
.public_home_head{
	width: 100%;
	height: 50px;
	background-color: black;
	color : white;
	/*滚动页面，实现导航栏固定在顶部（吸顶效果）*/
	position: sticky;
	position: -webkit-sticky;
}

.admin_home_content{
	/*注释高度之后可以自适应*/
	/*height: 100%; */
	width: 70%;
	margin-left: 15%;	
	/*border: solid;*/

}

.admin_home_conten_bloglist {
	margin-left: 10%;
	width: 80%;
	/*border:solid;*/

}


ul.showAllBlogs_content_pagination {
    /*display: inline-block;
    padding: 0;
    margin: 0;*/
    display: table;
    margin: 40px auto;
    text-align: center;
}

ul.showAllBlogs_content_pagination li {
  /*display: inline;*/
  display: table-cell;
  /*padding: 1%;
  font-size: 18px;
  font-weight: bold;
  margin: 0 1px;*/

}

ul.showAllBlogs_content_pagination li a {
    color: #000; 
    /*float: left;*/
    padding: 5px 8px;
    text-decoration: none;
    background-color: #ddd;
    margin-left: 1px;
}

ul.showAllBlogs_content_pagination li a:hover {
    background-color: #ffcc00;
    color: #fff;
}


/*content main*/
