body {
    line-height: 30px;
    background-color: #f7f7fc;
}
.wy-nav-btn {
	margin: center;
}

.b-login {
	margin-right: 32px;
}

#b-foot {
    padding: 20px 0 10px 0;
    position: relative;
    z-index: 2;
    /*background: #333;*/
    background: black;
    color: #9d9d9d;
	clear: both;

}
.bg-light {
    background-color: #618da2!important;

}


.login-btn {
    color: #f1f2f3;

}
.login-name {
    padding: 11px;
    color: #000000;
}

.row.content {
    width: 80%;
    margin-left: 288px;
}

.b-nav {
    text-align: center;
}
#b-foot dl dd a {
     color: #9d9d9d; 
}

#b-foot dl dd {
    height: 25px;
    line-height: 25px;
}

#b-foot h3 {
	margin-top: -7px;
}


.b-margin {
	margin-top: 100px;
}

.b-des {
  font-size: 13px;
  padding: 0 100px 36px 100px;
  margin: auto;
  line-height: 1.42857143;
}

#login-modal .login-icon .fa {
    margin: 0 20px;
    font-size: 65px;
    cursor: pointer;
    color: #333;
}

.login-icon {
	padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.login-title {
	text-align: center;
}

.pi-welcome {
    width: 200px;
}

.b-blog-summay {
    text-align: center;
    background: #fff;
}

#b-foot dd {
    margin: 0;
}

a {
    text-decoration:none
}

a:hover{ text-decoration:none}


#pull_right{
    text-align:center;
    padding: 58px 58px 158px 58px;
}
.pull-right {
    /*float: left!important;*/
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.clear{
    clear: both;
}