ul.showAllBlogs_content_pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.showAllBlogs_content_pagination li {
    display: inline;
}

ul.showAllBlogs_content_pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.showAllBlogs_content_pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.showAllBlogs_content_pagination li a:hover:not(.active) {background-color: #ddd;}

